@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#425369;
    --secondary:#f18c08;
    --white:#efefef;
}
body{
    font-family:"DM Sans", sans-serif;
    color: var(--primary);
}
#main{
    background-image: url('./Tochal-View.jpg.jpg');
    background-position:right  center;
    min-height: 70vh;
    background-size: cover;  
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    padding: 15px;
    margin: auto;
}
section{
    margin: 80px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}
.nav-list a{
    color: var(--white);
}
.btn{
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-secondary{
    border: 2px solid var(--white);
    color: #efefef;
    font-weight: bold;
}
.btn-secondary:hover{
    background: var(--secondary);
    color: white;
    border: none;
}
.btn-primary{
    border: none;
    background: var(--secondary);
    color: var(--primary);
}

.btn-primary:hover{
    transform: scale(1.05);
    color: white; 
} 

.main-content{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: var(--white);
    margin-top: 80px;
}
.main-content .intro-heading{
    font-size: 50px;
}
.main-content .main-heading{
    font-size: 110px;
    padding-top: -20px;
}
.main-content p {
    max-width: 250px;
    margin-bottom: 10px;
    text-align: center;
}
.section-title h1{
    font-size: 30px;
    text-align: center;
}
.section-title .line{
    width: 100px;
    height: 4px;
    border: 10px;
    background: var(--secondary);
    margin: auto;
}
.services{
    margin-top: 40px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.service{
    width: 250px;
}
.service img{
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.service img:hover{
    transform: scale(1.05); 
}
#testimonial{
    background: rgb(233, 232, 232);
}
#testimonial .container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 30px;
    padding: 50px 16px;
}
#testimonial h1{
    font-size: 20px;
    font-family: "forum",sans-serif;
    text-align: center;
}

#testimonial .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#testimonial img{
    width: 40px;
    border-radius: 28px;
}
#about .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
#about .container .about-content{
    align-items: start;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.about-image img{
    border-radius: 5px;
    width:620px;
}
#about .container .about-content h1{
    font-family: "forum",sans-serif;
    font-size: 20px;
}
#questions{
    min-height: 500px;
    background-image:url(./Tochal-Ski-Resort-An-Adventurer-Dream.jpg) ;
    background-position: center;
    background-size: cover;
}
#questions .container{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center; 
}
#questions h1{
    font-size: 30px;
    color: white;
}
#questions p{
    color: white;
}
footer {
    margin-top: -60px;
}
footer .container{
    display: flex;
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
}
.footer-links{
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;

}
footer img{
    width: 100px;
}

@media (max-width: 800px){
    #main .container nav{
        padding: 20px 4%;
        >.nav-list{
            display: none;
        }  
    }

}

@media (max-width: 800px){
    #main .container .main-content{
        >.main-heading{
            font-size: 50px;
        }  
    }

}

@media (max-width: 800px){
    #about .container{
        flex-direction: column-reverse;
        >.about-content{
            >h4{
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 800px){
     .container {
       gap: 20px;
            flex-direction: column-reverse;
        
    }
}




/* -----media */

/* -----media */
